.comment{
    display: flex;
    column-gap: 1rem;
    align-items: flex-start;
}

.comment:not(:last-child){
    margin-bottom: 2rem;
}

.comment .container{
    width: 100%;
    border-radius: 9px;
}

.comment .container .content{
    background-color: var(--gray-600);
    border-radius: 9px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 1.25rem;
    color: var(--gray-100);
}

.comment .content .header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
}

.comment .content strong{
    display: block;
    margin-bottom: .4rem;
}

.comment .content .delete{
    color: var(--gray-300);
    cursor: pointer;

    transition: color .1s ease;
}

.comment .content .delete:hover{
    color: var(--red-500);
}

.comment .content time{
    font-size: .75rem;
    color: var(--gray-300);
}


.comment .container button{
    display: flex;
    align-items: center;
    column-gap: 4px;
    color: var(--gray-300);
    background-color: transparent;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;

    transition: color .1s ease;
}

.comment .container button:hover{
    color: var(--green-400);
}
